.pokelist-container {
  max-height: 500px;
  overflow: scroll;
  outline: none !important;
  padding: 8px;
}
.pokelist_item-container {
  background-color: antiquewhite;
  border: 1px solid #ffbf6c;
  padding: 8px;
}

.pokelist_item-container-active {
  background-color: #ffbf6c;
  border: 1px solid #ffbf6c;
  color: white;
  padding: 8px;
}
@media (min-width: 720px) {
  .pokelist-container {
    max-height: 700px;
    overflow: scroll;
    min-width: 400px;
    outline: none !important;
    padding: 0;
  }
  
  
  .pokelist-container::-webkit-scrollbar {
    display: none;
  }
  
  
  .pokelist_item-container {
    margin: 8px 0 4px 0;
    padding: 4px;
  }
  
  .pokelist_item-container-active {
    margin: 8px 0 4px 0;
    padding: 4px;
  }
  
  
  .pokelist_item-container > p{
    margin-top: 0;
  }
}