
.home-container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

}
@media (min-width: 720px) {
  .home-container {
    justify-content: space-around;
    flex-direction: row;
    margin: 16px;
  }
}